/* =================================================================================== */
/* STYLUS - SCROLLBARS */
/* =================================================================================== */

/* Everything: */
/* Remove scrollbars */
::-webkit-scrollbar {
   display: none !important;
}
* {
   scrollbar-width: none !important;
}

/* =================================================================================== */
/* STYLUS - WEBSITES */
/* =================================================================================== */

/* URLs on the domain: */
/* youtube.com - google.com - claude.ai - github.com - duckduckgo.com */
/* Remove border radius */
*,
*::before,
*::after,
[style*="border-radius"],
[class*="rounded"] {
   border-radius: 0 !important;
}

/* URLs on the domain: youtube.com */
/* Remove channel avatar from titles */
.yt-lockup-view-model__avatar,
.yt-spec-avatar-shape,
.yt-lockup-view-model__avatar-link {
   display: none !important;
   width: 0 !important;
   margin: 0 !important;
}

/* URLs on the domain: github.com */
/* Set no rounded and fix position for avatar user */
img.avatar,
img.avatar-user,
img[class*="avatar"] {
   border-radius: 0 !important;
   border: none !important;
   box-shadow: none !important;
}
.js-profile-editable-replace {
   margin-top: -7.5px;
}
.user-status-circle-badge {
   display: none !important;
}

/* URLs starting with: https://github.com/darianmorat */
/* Remove personal contributions */
.js-yearly-contributions,
#year-list-container { 
   display: none !important; 
}
.col-lg-10 {
   width: 100% !important;
   max-width: 100% !important;
}
h2.f4.text-normal.tmp-mt-4.tmp-mb-3 {
   margin-top: 0 !important;
}
h2.f4.mb-2.text-normal {
    margin-top: 27px !important;
}

/* URLs on the domain: duckduckgo.com */
/* Remove DDG logo and feedback popup */
[data-testid="header-logo"],
[data-testid="feedback-prompt"] {
   display: none !important;
}
